.summary-item {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--item-bg);
  margin-bottom: 1rem;
}

.left-side {
  display: flex;
  gap: 0.5rem;
  font-weight: bold;
  color: var(--item-color);
  align-items: center;
}

.icon {
  width: 20px;
  height: 20px;
  display: block;
}

.title {
  display: flex;
  align-items: center;
}

.right-side {
  font-weight: bold;
  color: var(--dark-gray-blue);
}

.max-score {
  color: gray;
  opacity: 0.7;
}